
@import 'tailwindcss';

:root {
  --background: #0b0f1a;
  --foreground: #ededed;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select, button {
  background: #0b0f1a;
  color: #fff;
  border: 1px solid rgba(255,255,255,0.06);
  padding: 6px 8px;
  border-radius: 6px;
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0f1a;
    --foreground: #fff;
  }
}